header {
    background-image: url(https://source.unsplash.com/F6Da4r2x5to/2200x1600);
    background-size: cover;
    height: 1000px;
}
.title {
    padding-top: 20px;
    color: white;
    font-family: "Orbitron";
    font-size: 3vh;
    color: rgb(246, 122, 49);
}
.navbar {
    margin-top: 20px;
    padding-top: 12px;
    padding-left: 200px;
    font-family: "Orbitron";
    background-color: rgb(37, 44, 77);
}
.land{
    padding-top: 50px;
    color:white ;
    text-align: center;
    width: 100%;
}
.landText {
    padding-top: 50px;
    font-family: "Orbitron";
    font-size: 3vh;
    color:white;
}

.land-section {
    width: 100%;
    background-color: rgb(37, 44, 77);
    justify-content: center;
    text-align: left;
}

.land-section img {
    border: 6px solid rgb(37, 44, 77)
}