header {
    background-image: url(https://source.unsplash.com/F6Da4r2x5to/2200x1600);
    background-size: cover;
    height: 1000px;
}
.title {
    padding-top: 20px;
    color: white;
    font-family: "Orbitron";
    font-size: 3vh;
    color: rgb(246, 122, 49);
}
.navbar {
    margin-top: 20px;
    padding-top: 12px;
    padding-left: 200px;
    font-family: "Orbitron";
    background-color: rgb(37, 44, 77);
}
.land{
padding-top: 50px;
color:white ;
text-align: Justify;
}
.landText {
font-family: "Orbitron";
font-size: 3vh;
color:white;
}
.landText2 {
    font-size: 2vh;
    font-family: "Orbitron";
    color: white;
}
.span1 {
    color:rgb(246, 122, 49);
    font-size:3vh;
    font-weight:bolder;
}
.joinForm {
    display:flex;
    flex-wrap: wrap;
    width: 500px;
    border: solid;
    border-radius: 10px;
    border-color: rgb(246, 122, 49);
    background-color: rgb(37, 44, 77);
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left:30px ;
    padding-right: 30px;
    margin-left: 100px;
    margin-top: 30px;
    font-family: "Orbitron";
    color: rgb(64, 133, 88);
}
.formBtn{
    background-color: rgb(246, 122, 49);
    border: none;
    padding-top: 50px;
    color:white ;
    text-align: center;
 
}
.landText {
    padding-top: 50px;
    font-family: "Orbitron";
    font-size: 3vh;
    color:white;
}
.become{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 5vh;
    color: rgb(246, 122, 49);
  
    
}
.land-section {
    width: 100%;
    background-color: rgb(37, 44, 77);
    justify-content: center;
    text-align: left;
}

.land-section img {
    border: 6px solid rgb(37, 44, 77)
}