:root {
    /* rgb(246, 122, 49);  original orange color*/
    --main-color: rgb(0, 108, 158);
    --secondary-color: rgb(64,133,88);
    --third-color: rgb(37, 44, 77);
    --form-background: rgba(37, 44, 77, 0.75);
}

.main-color {
    color: var(--main-color);
}

.title-background {
  /*  background-image: url(../images/banner.jpg); */
    background-color: var(--third-color);
    background-size: cover;
}

.header-landing {
    background-image: url(https://source.unsplash.com/F6Da4r2x5to/2200x1600); 
    background-size: cover;
    height: 800px;
}
.title {
    padding-top: 20px;
    color: white;
    font-family: "Orbitron";
    font-size: 3vh;
    color: var(--main-color);
    text-shadow: 2px 1px 10px black;
}
.navbar {
    font-family: "Orbitron";
    background-color: var(--third-color);
}
/* Landing Page Styles */
.land{
    color:white ;
    text-align: Justify;
}
.landText {
    font-family: "Orbitron";
    font-size: 3vh;
    color:white;
}
.landText2 {
    font-size: 2vh;
    font-family: "Orbitron";
    color: white;
}
/* Join Form Styles */
.joinForm {
    display:flex;
    flex-wrap: wrap;
    width: 500px;
    border: solid;
    border-radius: 10px;
    border-color: var(--main-color);
    background-color: var(--third-color);
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left:30px ;
    padding-right: 30px;
    margin-left: 100px;
    margin-top: 50px;
    font-family: "Orbitron";
    color: rgb(64, 133, 88);
}
.join-form input {
background-color:rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: white;
}
.join-form input:focus:focus {
    background-color:var(--secondary-color);
    outline: none;
}
.formBtn{
    background-color: var(--main-color);
    border: none;
    
    color:white ;
    text-align: center;
}
.formBtn:hover {
    background-color:var(--secondary-color);

}
/* End Of Join Form Styles */
.landText {
    padding-top: 50px;
    font-family: "Orbitron";
    font-size: 3vh;
    color:white;
}
/* Become a Watcher Styles */
.become{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 6vh;
    color: var(--main-color);
    text-shadow: 2px 2px 10px black;
}
/* End of Page Landing Styles */
/*  */
.afterLanding {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    font-family: 'Orbitron';
    font-size: 3vh;
    color: white;
}
/*  */
.hero {
    width: 100%;
    margin: none;
    background-color: var(--third-color);
    justify-content: center;
    text-align: left;
    font-family: "Orbitron";
    color: white;
}
/* Images Animation */
.color img{
    border:none;
    border-radius: 10px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
 }
 .color img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
 }
.test {
    height: 550px;
}
.info-travel {
    margin-left: 50px;
}
/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: none;
    background-color:var(--main-color);
    height: 200px;
    color:var(--third-color);
}
.follow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    font-size: 2vh;
    font-family: "Orbitron";
}
.resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    font-size: 2vh;
    font-family: "Orbitron";
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 75px;
    font-size: 2vh;
    font-family: "Orbitron";
}
/* Footer Icons Styling */
.footer-icons {
    margin-top: 30px;
    margin-left: 30px;
}
/* Footer Resources */
.footer-list, a:link {
    list-style: none;
    text-decoration: none;
    font-size: 15px;    
}
/* Second Page Styles!!!!!!!! Some Are Copies Of The First Page With Some Modifications  */
.background-2 {
    background-color: rgb(37, 44, 77);
}

.travel-estimates-blackbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Orbitron';
    font-size: 2vh;
    color: white;
    text-indent: 2em
}
.form-styles {
    background-color: var(--third-color);
    border-radius: 8px;
    font-family: "Orbitron";
    color: white;
}

.form-styles input,
.form-styles select,
.form-styles option {
    border: 2px solid var(--secondary-color);
    outline: none;
    background-color: rgba(0,0,0,0);
    color: var(--secondary-color);
    border-radius: 5px;
}

.form-styles label {
    color: var(--secondary-color);
}

.form-styles input.form-check-input {
    background-color: rgba(0,0,0,0);
    border: 3px solid var(--secondary-color);
}

.form-styles button {
    border: 2px solid var(--main-color);
    outline: none;
    background-color: rgba(0,0,0,0);
    color: var(--main-color);
    border-radius: 5px;
    width: 100%;
}

.form-styles button:hover {
    box-shadow: 0px 0px 10px var(--main-color);
}

.form-styles button:focus {
    background-color: var(--main-color);
    color: black;
}

.form-styles input:focus {
    background-color: white ;
    border: 4px solid var(--secondary-color);
}

.form-styles select:focus {
    background-color: rgba(0,0,0,0);
    border: 4px solid var(--secondary-color);
}

.form-styles input.form-check-input:active {
    background-color: rgba(0,0,0,0);
    color: var(--secondary-color);
    outline: none;
    box-shadow: none;
    border: 3px solid var(--secondary-color);
}

.border-top-form {
    border-top: 4px solid var(--main-color);
}

/* Travel Forms Styles */
.travel-forms {
margin-top: 50px;
display: flex;
flex-wrap: wrap;
justify-content: center;
letter-spacing: 2px;
}
.travel-card {
    background-color: rgba(64,133,88,0.8);
    color:black;
    border-radius: 15px;
    font-family: "Orbitron";
  }
  
  .answer-travel {
    margin-left: 150px;
    background-color: var(--main-color);
    color:black ;
    border-radius: 15px;
    font-family: "Orbitron";
}

/* Footer Second Page */
.footer-2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    background-color:var(--third-color);
    height: 200px;
    color:var(--third-color);
    color: var(--main-color);
}
.follow-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    font-size: 2vh;
    font-family: "Orbitron";
}
.resources-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    font-size: 2vh;
    font-family: "Orbitron";
}
.about-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 75px;
    font-size: 2vh;
    font-family: "Orbitron";
}
/* Footer Icons Styling */
.footer-icons-2 {
    margin-top: 30px;
    margin-left: 30px;
}

.media-icons {
    color: var(--main-color);
}
/* Footer Resources */
.footer-list-2, a:link {
    list-style: none;
    text-decoration: none;
    font-size: 15px;    
}